body {
  background-color: #f0f2f5;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

form {
  border: 1px solid #2e7d32;
  background-color: white;
  width: 22%;
  padding: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 120px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  margin: 0 0 10px 0;
  color: #2e7d32;
  font-weight: bold;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  outline-color: #2e7d32;
  transition: border-color 0.3s ease-in-out;
}

input:focus {
  border-color: #2e7d32;
}

button {
  cursor: pointer;
  background-color: #2e7d32;
  color: white;
  width: 95%;
  padding: 12px;
  border-radius: 5px;
  margin-top: 5px;
  border: none;
  transition: background-color 0.3s ease-in-out, transform 0.1s;
}

button:hover {
  background-color: #4caf50;
}

button:active {
  transform: scale(0.97);
}

p{
    margin-top: 30px;
    width: 95%;
    font-size: 12px;
    line-height: 1.5;
}
